{% extends 'base.html' %}{% block content %}
<div class="card">
	<div class="card-header">
		<h4><strong>{{ current_user.name}}</strong></h4>
	</div>
	<div class="card-body">
		<h5 class="card-title"><strong>ID:</strong> {{ current_user.id}}`s Dashboard</h5>
		<div class="card-text"><strong>name:</strong> {{ current_user.name }}</div>
		<div class="card-text"><strong>username:</strong> {{ current_user.username}}</div>
		<div class="card-text"><strong>about user:</strong> {{ current_user.about_user}}</div>
		<div class="card-text"><strong>email:</strong> {{ current_user.email}}</div>
		<div>
			<a
				href="{{url_for('user.user_update', user_id=current_user.id)}}"
				class="btn btn-outline-primary"
				>Update</a
			>
			<a href="{{ url_for('user.logout')}}" class="btn btn-outline-secondary">Logout</a>
			<a
				href="{{ url_for('user.user_delete', user_id=current_user.id)}}"
				class="btn btn-outline-danger"
				>Delete</a
			>
		</div>
	</div>
</div>
<br />
<div class="card">
	<div class="card-header">
		<h4><strong>Update User Info:</strong></h4>
	</div>
	<div class="card-body">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div>
				{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}
			</div>
			<div>
				{{ form.username.label(class="form-label") }}{{
				form.username(class="form-control") }}
			</div>
			<div>
				{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}
			</div>
			<div>
				{{ form.about_user.label(class="form-label") }}{{
				form.about_user(class="form-control") }}
			</div>
			<br />
			<div>
				<a href="{{url_for('user.users_all')}}" class="btn btn-secondary">Back</a>
				{{ form.submit(class="btn btn-primary") }}
				<a href="{{url_for('user.user_delete', user_id=user_id)}}" class="btn btn-danger"
					>Delete</a
				>
			</div>
		</form>
	</div>
</div>
{% endblock %}
