{% extends 'base.html' %}{% block content %}
<div class="col-8 shadow p-3 mb-5 bg-body-tertiary rounded">
	<h1>Updating Post:</h1>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.title.label(class="form-label") }}{{ form.title(class="form-control") }}
		</div>
		<div>
			{{ form.subtitle.label(class="form-label") }}{{ form.subtitle(class="form-control")
			}}
		</div>
		<div>
			{{ form.content.label(class="form-label") }}{{ form.content(class="form-control") }}
		</div>
		<br />
		<div>
			<a href="{{url_for('post.posts_all')}}" class="btn btn-secondary">Back</a>
			{{ form.submit(class="btn btn-primary") }}
			<a href="{{url_for('post.post_delete', post_id=post_id)}}" class="btn btn-danger"
				>Delete</a
			>
		</div>
	</form>
	{{ ckeditor.load() }} {{ ckeditor.config(name='content') }}
</div>
{% endblock %}
