{% extends 'base.html' %}{% block content %}
<h1>ALL POSTS</h1>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded col-8">
	{% for post in posts %}
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<td>
				<div>
					{{ post.id }}.
					<a href="{{url_for('post.get_post',post_id=post.id)}}"> {{ post.title }}</a>
				</div>
				<div><strong>Author ID: {{ post.author_id}}</strong></div>
				<div><strong>subtitle:</strong> {{ post.subtitle }}</div>
				<div><strong>content:</strong><br />{{ post.content | safe }}</div>
				<div><strong>date posted:</strong> {{ post.added_date }}</div>
				{% if current_user.id == 1 or current_user.id == post.author_id %}
				<div>
					<a
						href="{{url_for('post.post_update',post_id=post.id)}}"
						class="btn btn-primary"
						>Update</a
					>
					<a href="{{url_for('post.post_delete',post_id=post.id)}}" class="btn btn-danger"
						>Delete</a
					>
				</div>
				{% endif %}
			</td>
		</tr>
	</table>
	{% endfor %}
</div>
{% endblock%}
