{% extends 'base.html' %}{% block content %}
<div class="col-8 shadow p-3 mb-5 bg-body-tertiary rounded">
	<h1>Updating Author:</h1>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}
		</div>
		<div>
			{{ form.birth_date.label(class="form-label") }}{{
			form.birth_date(class="form-control") }}
		</div>
		<div>
			{{ form.death_date.label(class="form-label") }}{{
			form.death_date(class="form-control") }}
		</div>
		<br />
		<div>
			<a href="{{url_for('author.authors_all')}}" class="btn btn-secondary">Back</a>
			{{ form.submit(class="btn btn-primary") }}
			<a
				href="{{url_for('author.author_delete', author_id=author_id)}}"
				class="btn btn-danger"
				>Delete</a
			>
		</div>
	</form>
</div>
{% endblock %}
