{% extends 'base.html' %}{% block content %}
<h1>Update Blog</h1>
<div class="col-4">
	<form method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.author.label(class="form-label") }} {{ form.author(class="form-control") }}
		</div>
		<div>
			{{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }}
		</div>
		<div>
			{{ form.content.label(class="form-label") }} {{ form.content(class="form-control",
			rows=5) }}
		</div>
		{{ form.submit(class="btn btn-primary mt-1") }}
	</form>
</div>
{% endblock %}
