{% extends 'base.html' %}{% block content %}
<h1>Adding New Author</h1>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded col-8">
	<form method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}
		</div>
		<div>
			{{ form.birth_date.label(class="form-label") }} {{
			form.birth_date(class="form-control") }}
		</div>
		<div>
			{{ form.death_date.label(class="form-label") }} {{
			form.death_date(class="form-control") }}
		</div>
		<br />
		<div>{{ form.submit(class="btn btn-primary") }}</div>
	</form>
</div>
{% endblock %}
